.page-header {

    .github-edit {
        color: $nav-child-link-color;
        float: right;
        
        &:hover {
            color: $link-color;

            svg {
                fill: $link-color ;
            }
        }

        svg {
            display: inline;
            vertical-align: top;
            width: 1.5rem;
            height: 1.5rem;
            fill: $nav-child-link-color;
        }
    }

    h1 {
        margin-right: 3.5rem;
    }
}


.avatar {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}



ul.metadata {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    margin: 0!important;
    padding: 0.125rem 0 0!important;
    >li{
        flex-basis: auto;
        align-items: center;
        list-style: none;
        display: flex;
        &:not(:last-of-type):not(:only-of-type)::after {
            content: "•";
            padding-left: 5px;
            padding-right: 5px;
            color: $grey-dk-000;
        }
        &::before {
            content: "";
          }
    }
    
}

[data-toogle] {
    
    cursor: pointer;
}

.modal {
    display: none;  
    position: fixed;  
    z-index: 100;  
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    overflow: auto;  
    background-color: rgba(0,0,0,0.4);  

    .modal-content {
        border: 1px solid $border-color;
        position: relative;
        background-color: $body-background-color;
        width: 500px;
        padding: 0;
        margin: 40px  auto;
        animation-name: animatetop;
        animation-duration: 0.4s;
    
    
        
    
        .modal-header {
            padding: 2px 16px;
            margin-left: 28px;

            h2, .close {
                font-size: 28px !important;
                margin-top: 1.5em;
                margin-bottom: 1.5em;
                line-height: 1;
                margin-bottom: 0.25em;
            }
            h2 {
                margin-right: 28px;
            }

            .close {
                color:  $nav-child-link-color;
                float: right;
                font-weight: bold;
                cursor: pointer;
    
                &:hover {
                    color: $link-color;
                }
            }
        }
    
        div.modal-body {padding: 2px 16px;}
    
        .modal-footer {
            padding: 2px 16px;
            color: $body-text-color;
        }

        ul.modal-body {
            padding: 0;
            margin: 0;

            >li{

                padding: 10px;
                margin: -1px;
                border-width: 1px 1px 1px 3px;
                border-style: solid;
                border-color: $border-color;

                &:hover {
                    border-left-color: $link-color;
                }

                &::before {
                    content: '';
                }
                
                
                >a {
                    color: $body-text-color;
                    text-decoration: none;
                    border: 0;
                    background: none;
                    display: flex;
                    align-items: center;
                    
                    &:hover {
                        color: $link-color;
                    }

                    img {
                        margin-right: 10px;
                    }
                }
                
            }
        }
    }
}
  
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.alert {
    padding: $sp-3;
    margin-bottom: $sp-3;
    overflow: auto;
    border: 1px solid $border-color;
    border-radius: $border-radius;


    &.alert-warning {
        background-color: $yellow-000;
        color: $yellow-300;
        border-color: $yellow-100;
        svg {
            fill: $yellow-300;
        }
    }

    &.alert-danger {
        background-color: $red-000;
        color: $red-300;
        border-color: $red-100;
        svg {
            fill: $red-300;
        }
    }

    &.alert-info {
        background-color: $blue-000;
        color: $blue-300;
        border-color: $blue-100;
        svg {
            fill: $blue-300;
        }
    }

    &.alert-success {
        background-color: $green-000;
        color: $green-300;
        border-color: $green-100;
        svg {
            fill: $green-300;
        }
    }
}