.github-edit {
    color: $nav-child-link-color;
    
    &:hover {
        color: $link-color;

        svg {
            fill: $link-color ;
        }
    }

    svg {
        display: inline;
        vertical-align: top;
        width: 1.5rem;
        height: 1.5rem;
        fill: $nav-child-link-color;
    }
}


.avatar {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}



ul.metadata {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    margin: 0!important;
    padding: 0.125rem 0 0!important;
    >li{
        flex-basis: auto;
        align-items: center;
        list-style: none;
        display: flex;
        &:not(:last-of-type):not(:only-of-type)::after {
            content: "•";
            padding-left: 5px;
            padding-right: 5px;
            color: $grey-dk-000;
        }
        &::before {
            content: "";
          }
    }
    
}

.modal {
    display: none;  
    position: fixed;  
    z-index: 100;  
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    overflow: auto;  
    background-color: rgba(0,0,0,0.4);  

    .modal-content {
        border: 1px solid $border-color;
        position: relative;
        background-color: $body-background-color;
        width: calc(100vw - 100px);
        padding: 0;
        margin: 40px 40px  auto;
        animation-name: animatetop;
        animation-duration: 0.4s;
    
    
        .close {
            color:  $nav-child-link-color;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover {
                color: $link-color;
            }
        }
    
        .modal-header {
            padding: 2px 16px;
            margin-left: 28px;
        }
    
        .modal-body {padding: 2px 16px;}
    
        .modal-footer {
            padding: 2px 16px;
            color: $body-text-color;
        }

        ul.modal-body>li{

            &::before {
                content: '';
            }
            
            >li{
                >a {
                    color: $body-text-color;
                    text-decoration: none;
                    border: 0;
                    background: none;
                    
                    &:hover {
                        color: $link-color;
                    }
                }
            }
        }
    }
}
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }