<div>
    <form id="cig-password" novalidate>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Serial Number" name="serial" id="serial" required pattern="[0-9A-Za-z]{4}[0-9A-Fa-f]{8}">
            <label for="serial" class="form-label">GPON S/N in format GPONabc12345</label>
            <div class="invalid-feedback">
                Please provide a valid GPON S/N.
            </div>
        </div>
        {% if include.password_len_modify == true %}
        <div class="form-floating mb-3">
            <input readonly type="text" class="form-control" placeholder="Password length" name="password_len" id="password_len" value="{{include.password_len}}">
            <label for="password_len" class="form-label">Password length</label>
        </div>
        {% else %}
        <input readonly type="hidden" name="password_len" id="password_len" value="{{include.password_len}}">
        {% endif %}
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Generate!" id="submit">
            <label for="submit" class="form-label">Warning: this script is hosted on a third-party server.</label>
        </div>
        <div class="form-floating mb-3">
            <input readonly type="text" class="form-control" placeholder="Serial Number" name="username" id="username">
            <label for="username" class="form-label">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input readonly class="form-control" type="text" id="result" placeholder="Result">
            <label for="result" class="form-label">Password</label>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
    <script type="text/javascript" src="/assets/js/cigpassword.js"></script>
    <script>
        var cigPassword = document.getElementById('cig-password');
        cigPassword.addEventListener('submit', (event) => {
            event.preventDefault();
            if (!cigPassword.checkValidity()) {
                event.preventDefault();
            } else {
                const data = new URLSearchParams(new FormData(cigPassword));
                var url = new URL("https://cigpassword.hack-gpon.org/xgspon/");
                document.getElementById('result').value = cigpassword_gpon(data.get("serial"), null, data.get("password_len"), true);
                document.getElementById('username').value = data.get("serial");
            }
            [...cigPassword.elements].map(e => e.parentNode).forEach(e => e.classList.toggle('was-validated', true));
        });
    </script>
</div>
