<div>
    <form id="cig-password">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Serial Number" name="serial" id="serial" required pattern="[A-Z]{4}[0-9a-z]{8}">
            <label for="serial">GPON S/N in format GPONabc12345</label>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Generate!" id="submit">
            <label for="submit">Warning: this script is hosted on a third-party server.</label>
        </div>
        <div class="form-floating mb-3">
            <input readonly type="text" class="form-control" placeholder="Serial Number" name="username" id="username" value="{{include.username}}">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input readonly class="form-control" type="text" id="result" placeholder="Result">
            <label for="result">Password</label>
        </div>
    </form>
    <script>
        var cigPassword = document.getElementById('cig-password');
        cigPassword.addEventListener('submit', (event) => {
            event.preventDefault();
            const data = new URLSearchParams(new FormData(cigPassword));
            var url = new URL("https://cigpassword.ml/");
            url.search = data.toString();
            fetch(url, {mode: 'cors'}).then(response => response.json()).then(json => document.getElementById('result').value = json.password).catch((error) => {
                document.getElementById('result').value = "Error!"
            });
        });
    </script>
</div>